@use "../../../assets/scss/variables" as *;

.languages {
    .languageImage {
        height: 1rem;
    }
    .languageOptions {
        border-radius: 0.25rem;
        li {
            list-style-type: none;
            padding: 0.6rem 1.2rem;
            background-color: $grey-800;
            color: white;
            cursor: pointer;
            &:hover {
                color: $light-green-600;
            }
        }
    }
}
