@use "../../../assets/scss/variables/index.scss" as *;
.navs {
    a {
        color: $grey-900;
        text-decoration: none;
        &:hover,
        &.active {
            color: $light-green-700;
        }
        li {
            padding-left: 0;
            &:not(:last-child) {
                border-bottom: 1px solid $grey-300;
            }
        }
    }
}

.emailAndInfo {
    p,
    a {
        color: $grey-800;
        font-size: 0.8rem;
    }
    a {
        text-decoration: none;
    }
}
